.blog_wrapper {
  padding: 18px 72px 37px 79px;
  background-color: #ffffff;
  width: min(100%, 1339px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_heading {
  font-family: "Satoshi";
  font-size: 61px;
  color: #373737;
}

.blog_underline {
  transform: translateY(-100%);
}

.blog_subText {
  color: #7b7b7b;
  font-family: "Noto Sans", Helvetica;
  font-size: 21px;
  margin-block-end: 40px;
}

.blog_cardContainer {
  width: 100%;
  display: flex;
  gap: 42px;
}

.blog_card {
  transition: all 0.3s ease;
  padding-block-end: 16px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.blog_card:hover {
  scale: 1.03;
  transform-origin: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.15);
}

.wallpaper_wrap {
  overflow: hidden;
}

.wallpaper {
  width: 100%;
  transition: all 0.3s ease;
}

.wallpaper:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}

.card_profileWrap {
  padding: 0 1rem;
  display: flex;
  align-items: start;
  margin-block-end: 24px;
  position: relative;
}

.card_profilePic {
  border-radius: 50%;
  transform: translateY(-60%);
  margin-inline-end: 12px;
  width: 45px;
  height: 45px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.15);
}

.card_nameWrap {
  min-width: 201px;
  margin-inline-end: 5px;
  margin-block: 5px;
}

.card_nameWrap > h2 {
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #373737;
}

.card_nameWrap > p {
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  line-height: 19px;
  color: #373737;
}

.card_rating {
  display: flex;
  gap: 10px;
  margin-block: 5px;
}

.card_flag {
  margin-block: 12px;
}

.shareIcon {
  border-radius: 9.82px;
  padding: 16.4px;
  aspect-ratio: 1;
  width: 39.3px;
  background-color: rgba(216, 0, 39, 1);
  position: absolute;
  right: 23px;
  bottom: -3rem;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: grid;
  place-items: center;
}

.blog_card:hover .shareIcon {
  transform: translateX(2.5rem);
  opacity: 1;
}

.shareIcon > img {
  width: 30px;
}

.card_blogTitle {
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding-inline: 1rem;
  color: #373737;
}

.card_blogContent {
  margin-block: 10px;
  padding-inline: 1rem;
  color: #7b7b7b;
  font-family: "Noto Sans", Helvetica;
  font-size: 16px;
  line-height: 22px;
}

.card_tagsWrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-inline: 1rem;
  margin-block-end: 10px;
}

.card_tagsWrap > div {
  padding: 0 10px;
  color: #7b7b7b;
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid rgba(164, 164, 164, 1);
  border-radius: 50px;
}

.card_mediaWrap {
  padding-block-start: 10px;
  border-top: 1px solid rgba(164, 164, 164, 1);
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

.engagements {
  height: 24px;
  display: flex;
  align-items: center;
  margin-block: 5px;
}

.engagements > span {
  color: #7b7b7b;
  font-family: "Noto Sans", Helvetica;
  font-size: 16px;
  line-height: 22px;
  margin-inline: 2px;
}

.card_mediaWrap > button {
  border: 3px solid rgba(41, 41, 41, 1);
  border-radius: 4px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  color: #373737;
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  line-height: 16px;
  background-color: rgb(255, 255, 255);
}

.card_mediaWrap > button img {
  margin-inline-start: 10px;
  max-height: 15px;
  transform: translateY(15%);
}

@media screen and (max-width: 800px) {
  .blog_cardContainer {
    flex-direction: column;
  }
}
